
body {
	background-color: #eee;
}

/* headings */
h1 {
	margin-top: 0.25ex;
}
/** Logo **/
h1 img 
{
	vertical-align: middle;
	margin-right: 0.5em;
}

a img 
{
	vertical-align: baseline;
}

h1,h2,h3,h4,h5, .bigLabel 
{
	text-shadow: rgba(0,0,0,0.2) 1px -1px 2px;
}

h2 
{
	margin: 2ex 0ex;
}

#keyList 
{
	margin-bottom: 2.2ex;
}

p input 
{
	margin-left: 2em;
}
p label 
{
	font-weight: bold;
}